:root {
  --white: rgba(255, 255, 255, 1);
  --red-500: rgba(239, 68, 68, 1);
  --gray-500: rgba(113, 113, 122, 1);
  --blue-500: rgba(59, 130, 246, 1);
  --purple-500: rgba(168, 85, 247, 1);
  --teal-400: rgba(45, 212, 191, 1);
  --yellow-300: rgba(253, 224, 71, 1);
  --gray-400: rgba(161, 161, 170, 1);
  --gray-900: rgba(24, 24, 27, 1);
  --pink-500: rgba(236, 72, 153, 1);
  --amber-400: rgba(251, 191, 36, 1);
  --green-500: rgba(34, 197, 94, 1);
  --gray-100: rgba(244, 244, 245, 1);
  --red-600: rgba(220, 38, 38, 1);
  --gray-50: rgba(250, 250, 250, 1);
  --blue-50: rgba(239, 246, 255, 1);
  --lightblue-500: rgba(14, 165, 233, 1);
  --lightblue-700: rgba(3, 105, 161, 1);
  --lightblue-100: rgba(224, 242, 254, 1);
  --violet-500: rgba(139, 92, 246, 1);
  --violet-700: rgba(109, 40, 217, 1);
  --amber-500: rgba(245, 158, 11, 1);
  --amber-700: rgba(180, 83, 9, 1);
  --amber-100: rgba(254, 243, 199, 1);
  --rose-500: rgba(244, 63, 94, 1);
  --rose-700: rgba(190, 18, 60, 1);
  --rose-100: rgba(255, 228, 230, 1);
  --emerald-500: rgba(16, 185, 129, 1);
  --emerald-700: rgba(4, 120, 87, 1);
  --violet-100: rgba(237, 233, 254, 1);
  --text-3xl-medium-font-family: "Inter", Helvetica;
  --text-3xl-medium-font-weight: 500;
  --text-3xl-medium-font-size: 30px;
  --text-3xl-medium-letter-spacing: 0px;
  --text-3xl-medium-line-height: 40px;
  --text-3xl-medium-font-style: normal;
  --text-3xl-regular-font-family: "Inter", Helvetica;
  --text-3xl-regular-font-weight: 400;
  --text-3xl-regular-font-size: 30px;
  --text-3xl-regular-letter-spacing: 0px;
  --text-3xl-regular-line-height: 40px;
  --text-3xl-regular-font-style: normal;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 16px;
  --text-xs-medium-font-style: normal;
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 16px;
  --text-xs-regular-font-style: normal;
  --shadow-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
}
